body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../pics/blur1.png');
    background-size: cover;
    transition: background-image 1s ease-in-out;
}

a {
    /* text-decoration: none; */
    color: #2F5597;
    transition: 1s ease;
}

a:hover {
    color: purple;
}

.container {
    position: relative;
    width: 80vw;
    height: 600px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    background-color: #1a426d00;
    transition: width 1s ease-in-out;
    padding: 14px;
}

.background {
    width: 50%;
    height: 500px;
    margin-top: 9vh;
    background-image: url('../pics/pic1.jpeg');
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    border-radius: 40px;
    /* padding: 10px; */
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.596);
    /* border: 2px solid black; */
}

.background img{
    width: 7.4%;
    height: 7.7%;
    margin-top: 2.5vh;
    margin-left: 1.5vw;

    /* top: 2;
    left: 2; */
}

.background img:hover{
    cursor: pointer;
}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1a426d00;
    position: relative;
}
.form2 {
    /* margin: auto; */
    margin-left: 0px;
    border-radius: 35px;
    display: block;
    padding: 20px;
    align-content: flex-start;
    /* flex-direction: column; */
    background-color: #DBAD92;
    font-family: Candara;
    width: 100%;
    max-width: 87vw;
}

.right{
    display: flex;
    flex-direction: column;
    width: 14.4vw;
    margin-top: -2vw;
}


.move_center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    margin: auto;
}

p.bottom{
    margin-left: 50vw;
}

.form2 p{
    margin-top: 8vh;
    margin-left: 0;
}

.form2 h2 {
    margin-bottom: 20px;
}

.form2 label {
    margin-top: 10px;
}

.form2 input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #283a52;
    border-radius: 5px;
}

.form2 button {
    padding: 10px;
    background: #333F50;
    color: #fff;
    font-size: 11pt;
    font-weight: 500;
    width: 92px;
    border: 2px solid #172231;
    margin-top: 3vh;
    margin-left: 3vw;
    border-radius: 17px;
    transition: 1s ease;
    cursor: pointer;
}

.form2 button:hover {
    background: #0056b3;
    font-weight: 700;
}


.form {
    margin: auto;
    border-radius: 35px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    background-color: #E7D9CF;
    /* align-items: center; */
    font-family: Candara;
    width: 100%;
    max-width: 270px;
    max-height: 340px;
}

.form h2 {
    margin: auto;
    margin-bottom: 20px;
    /* margin: auto; */
}

.form label {
    margin-top: 10px;
}

.form input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #283a52;
    border-radius: 5px;
    width: 80%;
}

.form button {
    padding: 10px;
    background: #333F50;
    color: #fff;
    border: 2px solid #172231;
    border-radius: 50px;
    transition: 1s ease;
    cursor: pointer;
    margin: auto;
    width: 100px;
}

.form button:hover {
    background: #0056b3;
    font-weight: 700;
}

.hidden {
    transform: translateX(100%);
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 1s ease;
}

.visible {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
}

.log {
    padding: 1vh 0.5vw;
    margin-top: 5%;
    margin-left: 10vw;
    border-radius: 20px;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0);
    border: 10px solid #E7D9CF;
    border-radius: 40px;
    width: auto;
    max-width: 330px;
}

.log2 {
    padding: 2%;
    margin: auto;
    border-radius: 20px;
    flex-direction: column;
    background-color: #e7d9cf00;
    border: 10px solid #DBAD92;
    border-radius: 40px;
    width: 90vw;
    height: auto;
}

.log2 img{
    width: 5%;
    height: 5%;
    top: 0;
    left: 0;
}

.log2 img:hover{
    cursor: pointer;
}

.forgot-div {
    display: none;
    position: absolute;
    /* bottom: -10px; */
    left: 12.3vw;
    /* right: 0; */
    margin: auto;
    background-color: #E7D9CF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    margin-top: -20px;
}

.forgot-div p {
    margin: 10px 0;
}

.forgot-div button {
    padding: 5px 10px;
    background-color: #333F50;
    color: #fff;
    border: 2px solid #172231;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-div button:hover{
    background-color: #0056b3;
}

.forgot-div button.close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333F50;
}